name: 'build'

on:
  workflow_dispatch:
    inputs:
      optional_deps:
        description: 'optional_deps=pkg-A:optional-dep-B,pkg-C:optional-dep-D'
        default: ''
        required: false
        type: string
  schedule:
    - cron: '0 0/3 * * *'

permissions:
  contents: write

concurrency: nope

jobs:

  schedule:
    runs-on: ubuntu-latest

    outputs:
      build-plan: ${{ steps.check.outputs.build-plan }}

    steps:

    - uses: actions/checkout@v3

    - uses: actions/setup-python@v3
      with:
        python-version: '3.9'
        cache: 'pip'
        cache-dependency-path: 'requirements.txt'

    - name: Install deps
      env:
        PIP_DISABLE_PIP_VERSION_CHECK: 1
      run: |
        python -m pip install --user 'wheel==0.37.1'
        python -m pip install --user -r requirements.txt

    - name: autobuild cache
      uses: actions/cache@v3
      with:
        path: ${{ github.workspace }}/.autobuild_cache
        key: autobuild_cache-${{ github.job }}-${{ github.run_id }}-${{ github.run_attempt }}
        restore-keys: autobuild_cache-

    - name: Check what we should run
      id: check
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_TOKEN_READONLY: ${{ secrets.GITHUBTOKENREADONLY }}
      run: |
        python -u autobuild.py write-build-plan --optional-deps '${{ github.event.inputs.optional_deps }}' build_plan.json
        buildPlan="$(cat build_plan.json)"
        echo "::set-output name=build-plan::$buildPlan"

    - name: Clean up assets
      if: steps.check.outputs.build-plan != '[]'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_TOKEN_READONLY: ${{ secrets.GITHUBTOKENREADONLY }}
      run: |
        python -u autobuild.py clean-assets

    - name: Show build queue
      if: steps.check.outputs.build-plan != '[]'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_TOKEN_READONLY: ${{ secrets.GITHUBTOKENREADONLY }}
      run: |
        python -u autobuild.py show --optional-deps '${{ github.event.inputs.optional_deps }}'

  build:
    needs: schedule
    timeout-minutes: 4320

    if: ${{ needs.schedule.outputs.build-plan != '[]' }}
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(needs.schedule.outputs.build-plan) }}
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}

    steps:

    - name: Runner details
      run: |
        Get-PSDrive -PSProvider FileSystem
        Get-CIMInstance -Class Win32_Processor | Select-Object -Property Name

    - uses: actions/checkout@v3

    - uses: actions/setup-python@v3
      with:
        python-version: '3.9'
        cache: 'pip'
        cache-dependency-path: 'requirements.txt'
        # Note that ARM64 prior to Win11 requires x86, but this will install x64
        architecture: 'x64'

    - name: Install deps
      env:
        PIP_DISABLE_PIP_VERSION_CHECK: 1
      run: |
        python -m pip install --user 'wheel==0.37.1'
        python -m pip install --user -r requirements.txt

    - name: autobuild cache
      uses: actions/cache@v3
      with:
        path: ${{ github.workspace }}/.autobuild_cache
        key: autobuild_cache-${{ github.job }}-${{ github.run_id }}-${{ github.run_attempt }}
        restore-keys: autobuild_cache-

    # Note that ARM64 prior to Win11 requires x86 msys, but this will install x64
    - uses: msys2/setup-msys2@v2
      with:
        msystem: MSYS
        update: true
        install: ${{ matrix.packages }}
        location: 'D:\A'
        release: ${{ runner.arch == 'ARM64' && 'false' || 'true' }}

    - name: Switch to the main mirror
      shell: msys2 {0}
      run: |
        echo 'Server = https://repo.msys2.org/mingw/$repo/' > /etc/pacman.d/mirrorlist.mingw
        echo 'Server = https://repo.msys2.org/msys/$arch/' > /etc/pacman.d/mirrorlist.msys
        grep -qF '[clang32]' /etc/pacman.conf || sed -i '1s|^|[clang32]\nServer = http://repo.msys2.org/mingw/clang32/\n|' /etc/pacman.conf
        grep -qF '[clangarm64]' /etc/pacman.conf || sed -i '1s|^|[clangarm64]\nServer = http://repo.msys2.org/mingw/clangarm64/\n|' /etc/pacman.conf
        pacman-conf.exe

    - name: Update using the main mirror & Check install
      run: |
        msys2 -c 'pacman --noconfirm -Suuy'
        msys2 -c 'pacman --noconfirm -Suu'
        msys2 -c 'pacman -Qkq'

    - name: Process build queue
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_TOKEN_READONLY: ${{ secrets.GITHUBTOKENREADONLY }}
        GITHUB_RUN_NAME: ${{ matrix.name }}
      run: |
        $BUILD_ROOT='C:\'
        $MSYS2_ROOT=(msys2 -c 'cygpath -w /')
        python -u autobuild.py build ${{ matrix.build-args }} "$MSYS2_ROOT" "$BUILD_ROOT"
